.listContainer {
  max-width: 768px;
  margin: 2rem auto;
}
.rentCard {
  width: 100%;
  margin: 2rem 0;
  padding: 2rem;
  height: 200px;
  transition: all 0.5s;
  border-radius: 8px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  cursor: pointer;
}
.rentCard:hover {
  height: 270px;
  box-shadow: 0 0 10px 5px rgb(0 167 198 / 10%);
}
.rentCard:hover .viewButton {
  opacity: 1;
}
.viewButton {
  border: 2px solid #00a7c6;
  border-radius: 8px;
  color: #00a7c6;
  background-color: transparent;
  padding: 1rem 2.5rem;
  font-weight: 500;
  transition: all 0.5s;
  margin-left: auto;
  opacity: 0;
}
.viewButton:hover {
  background-color: #00a7c6;
  color: #ffffff;
}
.formContainer {
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formCard {
  border-radius: 12px;
  background: #171717;
  box-shadow: 20px 20px 60px #141414, -20px -20px 60px #141414;
  width: 100%;
  max-width: 580px;
  padding: 2rem;
}
@media (max-width: 540px) {
  .rentCard {
    height: fit-content;
    padding: 1rem 1.5rem;
  }
}
